#notice > ul > li {
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "맑은 고딕", sans-serif;
}